extend layout

block content
  ol#messages
    li
      video(src='/images/sample.webm', autoplay='autoplay', loop)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a turpis nec lectus vestibulum placerat in quis nisi. Praesent ut lacus arcu. Vivamus libero nunc, vulputate sed accumsan a&nbsp;
        a(href='#') link.com
    li
      video(src='/images/sample.webm', autoplay='autoplay', loop)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a turpis nec lectus vestibulum placerat in quis nisi. Praesent ut lacus arcu. Vivamus libero nunc, vulputate sed accumsan a&nbsp;
        a(href='#') link.com

  ol#messages-filtered
    li
      video(src='/images/sample.webm', autoplay='autoplay', loop)
      p Lorem ipsum dolor sit amet, costibulum placer, vulputate sed accumsan a&nbsp;
        a(href='#') link.com

block footer
  #preview
    video(src='/images/sample.webm')
  form
    input(type='text', name='message', id='comment', maxlength='250', autocomplete='off')
    textarea(name='media', id='media')
