extend layout

block content
  ol#messages

block footer
  #video-preview
  .debugger
    p#debug-msg
  form
    input(type='text', name='message', id='composer-message', maxlength='250', autocomplete='off', autofocus, tabindex='1', placeholder='Send a public message')
    #counter
