doctype html
html
  head
    title meatspace
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')
    if analytics
      != "<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '" + analytics + "', 'auto');ga('send', 'pageview');</script>"

  body(onunload='')
    header
      div
        a(href="/") meatspace
        span#active 0
        #menu
          button#invisible Invisible
          button#filtered Filtered
          button#unmute Unmute
    .wrapper
      block content
    #invisible-mode
      h2 Invisible mode is on
      p When invisible mode is activated (in red), your messages will not be displayed in the public chat with your current fingerprint.
      p Only people in your filtered list can see your messages.
      p Toggle the Invisible button to be visible in the public chat again.
      p Note that if someone is listening in on the connection, they can still read your messages.
      button Okay, got it.
    #sad-browser
      h2
        | So sad&#xa0;
        span ;_;
      p
        | You have a really sad browser. With your sad browser, you will not be able to experience the rave that is this version of Meatspace. Please use&#xa0;
        a(href='https://www.mozilla.org/en-US/firefox/new/') Firefox
        |  or&#xa0;
        a(href='https://www.google.com/chrome/browser/') Chrome.
    footer
      block footer
    #audio
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/bundle.js')
