doctype html
html
  head
    title meatspace
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')
    if analytics
      != "<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '" + analytics + "', 'auto');ga('send', 'pageview');</script>"

  body(onunload='')
    header
      div
        a#info(href='javascript:;') meatspace info
        span#active 0
        #menu
          button#music music
          button#unmute unmute
    .wrapper
      block content
      #padding
    #info-screen
      h2 Meatspace 2.0
      p This is a rewrite of the old Meatspace code that uses webm instead of gifs.
      p
        | The source code for this version is&#xa0;
        a(href='https://github.com/meatspaces/meatspace-chat-v2', target='_blank') here
      a(class='close', href='javascript:;') okay got it!
    #sad-browser
      h2
        | So sad&#xa0;
        span ;_;
      p
        | You have a really sad browser. With your sad browser, you will not be able to experience the rave that is this version of Meatspace. Please use&#xa0;
        a(href='https://www.mozilla.org/en-US/firefox/new/') Firefox
        |  or&#xa0;
        a(href='https://www.google.com/chrome/browser/') Chrome.
    footer
      block footer

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/bundle.js')
