body, input {
  font-family: Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  position: relative;
}

body {
  padding: 5px;
}

header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #eee;
  height: 20px;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

#active {
  color: #29a4c8;
  font-family: monospace;
  font-size: 0.9rem;
  margin: 0 10px;
}

#menu {
  display: inline;
  float: right;
}

#menu button {
  background-color: #aaa;
  color: #eee;
  border: 0;
  font-size: 0.85rem;
}

#menu button:hover {
  background-color: #49c3b0;
  cursor: pointer;
}

.actions {
  bottom: 5px;
  position: absolute;
  right: 50px;
}

.actions button {
  border: 0;
  background-color: #aaa;
  color: #fff;
  margin: 0 2px;
}

.actions button:hover, #menu button.on {
  background-color: #49c3b0;
  cursor: pointer;
}

button.unfilter {
  background-color: #65d5ce;
}

.wrapper {
  height: 100%;
  min-width: 390px;
  position: relative;
}

a {
  background-color: #95f7f1;
  color: #2d7470;
  text-decoration: none;
}

ol {
  clear: both;
  float: left;
  margin: 5px 0;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

#padding {
  display: block;
  float: left;
  height: 152px;
  width: 100%;
}

li {
  clear: both;
  float: left;
  height: 150px;
  min-width: 385px;
  position: relative;
  width: 100%;
}

li p {
  border-bottom: 1px solid #ddd;
  float: left;
  font-size: 1.15rem;
  font-weight: 100;
  height: 133px;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 8px 5px 8px 10px;
  min-width: 240px;
  width: 70%;
}

#messages .in-view video {
  visibility:visible;
}

.video-container {
  float: left;
  height: 150px;
  width: 200px;
  position: relative;
}

video {
  height: 100%;
  width: 100%;
}

.convert, .convert:focus {
  position: absolute;
  display: block;
  width: 56%;
  margin: 0px 22%;
  padding: 8px 0px;
  bottom: 5%;
  background-color: #00ced2;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
  opacity: 0;

  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
}

.video-container .convert {
  transition: visibility 0.4s, opacity: 0.4s;
}

.video-container:hover .convert {
  visibility: visible;
  opacity: 0.9;
}

.convert:hover, .convert:active {
  background-color: #00b4b7;
  cursor: pointer;
}

.convert:active {
  bottom: 4%;
}

.convert.progress {
  opacity: 0.6;
  visibility: visible;
}

.convert.progress:hover, .convert.progress:active {
  background-color: #00ced2;
  cursor: default;
  opacity: 0.6;
}

.convert.error {
  background-color: #c10019;
}

.convert.error:hover, .convert.error:active {
  background-color: #a00012;
}

footer {
  position: relative;
  width: 100%;
}

#video-preview {
  background-color: #111;
  bottom: 0;
  height: 150px;
  left: 5px;
  position: fixed;
  width: 200px;
  z-index: 4;
}

form {
  background-color: rgba(1, 1, 1, 0.8);
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#composer-message, #counter {
  background-color: transparent;
  color: #eee;
  border: 0;
}

#composer-message {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.3rem;
  margin-left: 205px;
  padding: 10px;
  outline: none;
  width: 70%;
}

#counter {
  color: #777;
  padding-top: 15px;
  padding-right: 15px;
  font-weight: 100;
  float: right;
}

.debugger {
  bottom: 40px;
  color: #fff;
  font-size: 1.9rem;
  height: 50px;
  left: 80px;
  position: fixed;
  text-align: center;
  width: 50px;
  z-index: 5;
}

#sad-browser, #info-screen {
  background-color: rgba(1, 1, 1, 0.8);
  bottom: 10px;
  position: fixed;
  display: none;
  left: 10px;
  right: 10px;
  top: 10px;
  z-index: 6;
}

#info-screen {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #111;
  top: 30px;
}

#info-screen h2 {
  font-size: 2rem;
  padding: 20px;
}

#info-screen p {
  font-size: 1.8rem;
  padding: 20px;
}

#info-screen .close {
  font-size: 1.8rem;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

#info-screen.on {
  display: block;
}

#sad-browser h2 {
  color: #06cdeb;
  font-size: 2.9rem;
  padding-top: 20px;
  text-align: center;
}

#sad-browser h2 span {
  font-size: 6rem;
}

#sad-browser p {
  color: #eee;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2.4rem;
  padding: 60px 30px;
  text-align: center;
}

.timestamp {
  border: 0;
  bottom: -5px;
  left: 202px;
  color: #666;
  display: block;
  font-size: .8rem;
  position: absolute;
  padding: 8px;
}

@media only screen and (max-width: 850px) {
  li p {
    width: 60%;
  }

  #composer-message {
    width: 60%;
  }
}

@media only screen and (max-width: 795px) {
  li p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media only screen and (max-width: 690px) {
  #menu button {
    font-size: .7rem;
  }

  #messages li {
    height: 100px;
  }

  .debugger {
    left: 50px;
    bottom: 10px;
  }

  .actions {
    right: 10px;
  }

  .timestamp {
    color: #fff;
    text-shadow: #111 1px 1px 0;
    font-size: 0.6rem;
    left: -5px;
    top: -5px;
  }

  li p {
    font-size: 0.8rem;
    height: 83px;
    line-height: 1.1rem;
    overflow-y: auto;
    width: 50%;
  }

  #composer-message {
    font-size: 0.8rem;
    margin-left: 140px;
    min-width: 180px;
    width: 50%;
  }

  .video-container, #video-preview {
    height: 100px;
    width: 133px;
  }

  .convert, .convert:focus {
    width: 70%;
    margin: 0px 15%;
  }

  #padding {
    height: 102px;
  }
}

@media only screen and (max-width: 570px) {
  #composer-message {
    width: 40%;
  }

  #messages-filtered {
    left: 5px;
  }
}

@media only screen and (max-width: 420px) {
  li p {
    width: 30%;
  }
}
