/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------ General ------------------------------ */

body, input {
  font-family: Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  position: relative;
}

body {
  padding: 20px;
}

.wrapper {
  height: 100%;
  min-width: 590px;
  position: relative;
}

a {
  background-color: #95f7f1;
  color: #2d7470;
  text-decoration: none;
}

ol {
  clear: both;
  float: left;
  margin: 10px 0 200px;
  position: relative;
  width: 100%
  z-index: 1;
}

#messages-filtered {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
  width: 580px;
  z-index: 2;
}

li {
  clear: both;
  float: left;
  width: 580px;
}

li p {
  float: left;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.2rem;
  overflow: hidden;
  padding: 10px;
  width: 270px;
}

video {
  float: left;
  height: 198px;
  width: 264px;
}

footer {
  position: relative;
  width: 100%;
}

#preview {
  background-color: #111;
  bottom: 0;
  height: 198px;
  left: 20px;
  position: fixed;
  width: 264px;
  z-index: 4;
}

#comment {
  background-color: rgba(1, 1, 1, 0.8);
  border: 0;
  bottom: 0;
  font-size: 1.3rem;
  left: 0;
  line-height: 1.4rem;
  padding: 10px 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}